ul {
  margin: 0;
  padding: 10px;
  width: 25%;
}

li a, li a:hover {
  margin: 0;
  padding: 10px;
  display: block;
}

ul {
  list-style-type: none;
  background-color: #d9e7ff;
  height: 100%;
  position: fixed;
  width: 25%;
  text-align: center;
  }

li a:hover {
  background-color: #555;
  color: white;
}

.samecolor {
  color: #d9e7ff;
}
